
.idea

**/.DS_Store

-gruntwork-io.iml

 .terraform
*.tfstate
*.tfstate.backup

module-example/multi-server/.terraform
module-example/multi-server/.terraform.lock.hcl

**/.tfstate
**/.tfstate.backup
